{% extends 'lickedy_split/base.html' %}  
{% load static %}
<!--needs to be set up-->

{% block title %}
  <title>Forget Password | Lickedy-Split</title>
{% endblock %}
   
{% block styling %}
  <link rel="stylesheet" href="{% static 'lickedy_split/css/new_forgetpassword.css' %}">
{% endblock %}

{% block body %}
  <div class="wrapper">
    <span class="icon-close">
      <a href="{% url 'home' %}"><i class="fa-solid fa-xmark"></i></a>
  </span>
    <!-- Forgot Password Form -->
    <div class="form-box forgot-password">
      <h2>Forgot Password?</h2>
      <form action="#">
        <!-- Email input-->
        <div class="input-box">
          <span class="icon"><i class="fa-solid fa-envelope"></i></span>
          <input type="email" id="reset-email" name="email" required>
          <label for="reset-email">Email</label>
        </div>
        <!-- Submit form-->
        <button type="submit" class="btn">Send Reset Link</button>
        <div class="login-register">
          <p>Remember your password? <a href="{% url 'login' %}" class="login-link">Login</a></p>
        </div>
      </form>
    </div>
  </div>
  <script src="{% static 'lickedy_split/js/script.js' %}"></script>
{% endblock %}
